
<div class="jumbotron center">

		<h1>Rueda de Negocios</h1>
		<p>
		Las Ruedas de Negocios son un instrumento que <strong>El ministerio de Economia</strong> pone a disposición de las empresas con el objetivo de fomentar las exportaciones de productos guatemaltecos mediante encuentros de negocios con compradores internacionales. 
		</p>
		
		<ul class="list-inline">		
		<li>Fomenta el clima de negocios</li>
		<li>Contribuye a la promoción de las exportaciones. </li>
		<li>Fortalece la marca país.</li>
		</ul>

		<p>
			<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
			<%= link_to "Sign Up", root_path, class: "btn btn-primary btn-lg" %>
		</p>

</div>